@{
    ViewBag.Title = "About Us";
}
<h2 style="font-size: 35px; font-family: -webkit-pictograph; color: antiquewhite"; >@ViewBag.Title</h2>
<center><br><img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/12ee9427106509.56b72d224d1c9.jpg" align="middle" width="450" height="200"><br><br></center>



<center >
        <div class="col-md-12" style=" padding-top: 47px ;padding-bottom: 87px" > 
            <div class="row-md-2" style="width: 75%">

                <p style="color: hsl(0, 0%, 100%)">
                    About Vidly!
                    We love movies! Vidly was created for people like us who want to watch "Great Movies. Free." Vidly has full-length movies that will make you laugh, make you cry, scare the heck out of you, or inspire you to hug the person you love. We have compelling documentaries, foreign films, unique original web series, and a place that showcases the brightest film makers of tomorrow. We built Vidly to be the most user friendly movie destination on the web. No movie is more than two clicks away and they are all FREE.
                </p>
                </div>
                </div>
                    
</center>
